* {
    margin: 0px;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17.2px;
    line-height: auto;
    color: rgba(81, 81, 81, 0.7);;
    line-height: auto;
}
section {
    background: #fff url(/img/bg-bottom.png) no-repeat 50% 100%;
}
a,
a:visited,
a:active {
    text-decoration: none;
    color: #515151;
}

.container {
    width: 1020px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    /* /* align-items: baseline; Выравнивание элементов по линии текста Можно было написать проще */
    font-size: 13.2px;
    text-transform: uppercase;
    font-weight: 700;
}
.logo-link {
    position: relative;
    font-size: 31.2px;
    width: 200px;
    padding: 23px 0px 19px 36px;
    font-family: 'Nunito Sans', sans-serif;;
}
.logo-link::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 21px;

    width: 40px;
    height: 40px;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
}
.navigation-item {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;

    padding: 37px 23px 30px 75px;

    width: 620px;
    opacity: 67%;
}
.navigation-item li {
    position: relative;
    margin-right: 26px;
}
.navigation-item li:nth-child(5n) {
    margin-right: 0px;
}
.login-link {
    /* width: 100px; */
    background-color: #bcda5c;
    border-radius: 33px;
    /* text-align: center; */

    align-self:center;
    /* margin-top: 25px; */
    /* height: 39px; */
    padding: 10px 30px;
    color: #515151;
}
.login-link span {
    opacity: 81%;
    color: #fff;
}
.sliders {
    margin: auto;
    background:#000 url(/img/Layer\ 15.jpg) no-repeat;
    width: 1300px;
    height: 570px;
    margin-bottom: 100px;
}
.sliders .overlay {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.2); 
    width: 1300px;
    height: 570px;
}
.SliderH1 {
    
    font-size: 49.2px;
    font-weight: 600;
    color: #fff;
    line-height: 77px;
}
.SliderH2 {
    font-size: 35.2px;
    font-weight: 400;
    color: #fff;
    line-height: 77px;
}
.SliderButton {
    border: none;
    padding: 26px 40px;
    border-radius: 15px;
    /* width: 254px; */
    font-size: 19.2px;
    background: #99c50a;
    height: 73px;
    color: #fff;
    margin-top: 50px;
}
.btns {
    position: absolute;
    right: 154px;
    bottom: 45px;
}
.vissualy-hidden:not(:focus):not(:active),
input[type="radio"].vissualy-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btns label {
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 25px;
    cursor: pointer;
}
.btns label:first-child {background-image: url(/img/back.png); top: -23px; right: 29px;}
.btns label:last-child {background-image: url(/img/next.png); top: -23px;  right: -16px;}

.text-block-1 {
    text-align: center;
    margin-bottom: 145px;
}
.text-block-1 p {
    margin-bottom: 33px;
    padding: 0px 40px;
    line-height: auto;
}
.text-block-1 h3 {
    font-size: 31.2px;
    text-transform: uppercase;
    color: #515151;
    line-height: 50px;
    margin-bottom: 52px;
}
.text-block-1 img {
    margin-bottom: 31px;
}
.job-list {
    display: flex;
    justify-content: space-around;
    padding-bottom: 34px;
}

.marker-jobs {
    position: relative;
    font-size: 33.2px;
    color:#656565;
}
.job-list label::before {
    content: "";
    position: absolute;

    line-height: 45px;
    font-size: 20.2px;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #5f5f5f;
    border-radius: 50%;
    top: 0px;
    left: -75px;

}
.job-list .simple-job::before {
    content: "1";
    color: white;
    background-color: #add136;
}
.job-list .transparent-job::before {
    content: "2";
    color: white;
}
.job-list .collaborative-job::before {
    content: "3";
    color: white;
}
.liner {
    margin: auto;
    height: 2px;
    width: 95%;
    background: linear-gradient(to right, #add136 0%, #add136 25%, #828c95 25%);
    margin-bottom: 56px;
}
.job-text   {
    display: flex;
    justify-content: space-between;
    padding-left: 109px;
    padding-right: 40px;
    margin-bottom: 105px;
}
.text {
    width: 652px;
}
.job-icon {
    /* margin-right: 104px; */
    /* align-self: center; */
    margin-top: 30px;
    width: 113px;
    height: 102px;
}
.job-text h4 {
    margin-bottom: 26px;
    color: #add136;
    font-size: 25.2px;
}
.job-text p {
    line-height: 28px;
}
.find {
    background: linear-gradient(to right, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%);
    margin-bottom: 75px;
}
.find-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 47px;
}
.find-con {
    display: flex;
    justify-content: space-between;
    width: 440px;
}
.find-text {
    width: 260px;
}
.find-text h5 {
    font-size: 23.2px;
    color: #515151;
    margin-bottom: 35px;
}
.find-text p {
    font-size: 17.2px;
    color: #515151;
    line-height: 28px;
    margin-bottom: 25px;
}
.find-con img {
    /* align-self: center; */
    margin-top: 58px;
}
.find-btn {
    padding: 15px 26px;
    font-family: inherit;
    font-size: 14.28px;
    font-weight: 600;
    color: #ffffff;
    border:none;
    border-radius: 9px;
}
.blue-btn {background-color: #26a6d1;}
.green-btn {background-color: #add136;}

.feature-text {
    width: 738px;
    margin-bottom: 65px;
}
.feauter-block {
    display: flex;
    justify-content: space-between;
}
.feature-text h3 {
    font-size: 29.2px;
    font-weight: 600;
    color: black;
    margin-bottom: 25px;
    margin-left: 18px;
}
.feature-text p {
    line-height: 28px;
}
.feauter-btn {
    color: #515151;
    background-color: white;
    border: 1px solid #515151;
    align-self: center;
}
.product {
    width: 302px;
    height: 521px;
    margin-right: 39px;
    background-color: rgba(249, 249, 249, 0.7);
    border: 1px solid rgba(229, 229, 229, 0.7);
    border-radius: 10px;
    margin-bottom: 75px;
}
.product:nth-child(3n) {
    margin-right: 0px;
}
.product-new {
    position: relative;
}
.product-new::before {
    content: "";
    position: absolute;

    background: url(/img/NEW.png) no-repeat;
    width: 73px;  
    height: 73px;
}
.items-price {
    display: flex;
    flex-wrap: wrap;
    padding-left: 18px;
    /* margin-bottom: 75px; */
}
.product-description {
    padding: 13px 24px;
}
.product-description h3 {
    font-size: 17.2px;
    padding-left: 1px;
    color: #484848;
    margin-bottom: 15px;
}
.product-description p {
    font-size: 13.2px;
    line-height: 25px;
}
.range {
    margin-top: 15px;
    width: 100%;
    height: 14px;
    background: linear-gradient(to right, #add136 0%, #add136 30%, #e3e3e3 30%);
    border-radius: 12px;
    margin-bottom: 15px;
}
.found {
    font-size: 13.2px;
    color: #8d8d8d;
    position: relative;
}
.found span:nth-child(2) {
    float: right;
}
.found::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    opacity: 71%;
    width: 100%;
    height: 1px;
    background-color:#8d8d8d;
}
.product a {
    font-size: 15.2px;
    color: rgba(72, 72, 72, 0.6);
    font-weight: 600;
    display: block;
    padding-top: 24px;
    float: right;
    padding-right: 55px;
    position: relative;
}
.product a::after {
    content: "";
    position: absolute;
    background: url(/img/Shape.png) no-repeat;
    right: 32px;
    width: 13px;
    height: 16px;
}
.part-end {
    text-align: center;
}
.part-end h2 {
    font-size: 39.2px;
    color: #9ec02d;
    font-weight: 600;
    margin-bottom: 45px;
}
.part-end p {
    line-height: 25px;
    padding: 0px 57px 0px 49px;
    font-size: 19.2px;
    color: #949494;
    margin-bottom: 95px;
}
.reviews {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 38px;
    padding-left: 33px;
}
.review-block {
    width: 397px;
    align-self: flex-start;
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 19px 43px 23px 32px;
    border-radius: 12px;
    margin-bottom: 152px;
}
.review-block h3 {
    font-size: 21.2px;
    font-weight: 600;
    color: #9ec02d;
    margin-bottom: 10px;
    margin-left: -19px;
}
.review-block p {
    font-size: 13.2px;
    color:#848484;
    line-height: 23px;
}
.review-block::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    left: 80px;
    border-top: 23px solid white;
    border-right: 24px solid transparent;	
}

.review-block::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -90px;
    left: 47px;
    border-radius: 10px;
}
.review-block:nth-child(1)::before {background: #fff url(/img/beckham.png);}
.review-block:nth-child(2)::before {background: #fff url(/img/backham2.png);}

.name-review::after {
    content: "David Beckham";
    position: absolute;
    bottom: -70px;
    left: 124px;
    font-size: 15.2px;
    color:#494949;
    font-weight: 600;
}
.company {
    width: 1028px;
    height: 45px;
    background-image: url(/img/company.png);
    background-repeat: no-repeat;
    margin-bottom: 42px;
}
.main-footer {
    padding-top: 43px;
}
.linear-footer {
    width: 100%;
    height: 1px;
    background-color:rgba(73, 73, 73, 0.11);
}
.copyright {
    text-align: center;
    font-size: 13.2px;
    color: #848484;
    padding-bottom: 20px;
}
.copyright p {
    padding-top: 22px;
}

/* .navigation-item a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition-property: all;
    transition-duration: 0.3s ;
} */

.navigation-item li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom:1px solid black;
    opacity: 0.5;
}
.navigation-item li:hover::after {
    width: 100%;
    transition-duration: 0.3s;
}